html {
    background-image: linear-gradient(to bottom, #ffffff 90%, #e1e1e1 100%);
}
html, body {
    font-family: 'Red Hat Text', sans-serif!important;
}
body {
    width: 100vw;
    height: 100vh;
}
#usertype {
    text-transform: capitalize;
}
.modal-card.animation-content {
    padding-left: 0.75rem !important;
    padding-right: 0.75rem !important;
}
