body {
    background-image: url(../img/commuter.png), url(../img/bus.png);
    background-position: -500% 100%, -60% 120%;
    background-repeat: no-repeat, no-repeat;
    background-size: 95%, 150%;
}
button span {
    font-family: 'Red Hat Text', sans-serif!important;
}
