body {
    background-image: url(../img/commuter.png), url(../img/bus.png);
    background-repeat: no-repeat;
    background-position: -3em 32em, 10em 25.5em;
    background-size: 18em, 32em;
}
button#comm, button#optr {
    height: 72px;
    border-radius: 20px;
    font-size: 22px;
}
button#comm {
    background-image: linear-gradient(to bottom, #4ab484 0%, #48c78e 51%, #4ab484 100%) ;
}
button#optr {
    color: #333;
    border: 5px solid #48c78e;
}
