#window {
    width: 90.7%;
    position: absolute;
    top: 20%;
}
.control-label {
    font-size: 18px;
}
#mopgroup .field:not(:last-child) {
    margin-bottom: 0.45rem;
}
.b-radio.radio input[type=radio]:focus:checked + .check.is-success {
    box-shadow: none!important;
}
.b-radio.radio input[type=radio] + .check.is-success:before {
    background: #36b3b8!important;
}
.b-radio.radio input[type=radio]:checked + .check.is-success {
    border-color: #36b3b8!important;
}
button#proceed,
button#back {
    width: 7.5em;
    height: 2.1em;
    border-radius: 10px;
    position: absolute;
    bottom: -201.7%;
}
button#proceed {
    right: -10%;
}
button#back {
    left: -10%;
}
